@charset "UTF-8";
/* ****************************************************************************
CSS Information

Site URL:	
File name:	index_css.css
Summary:	
Created:	2015/6/12
Order of description

******************************************************************************* */

/* index inner
--------------------*/
.index-inner {
  margin: 0 auto;
  width: 900px;
}

.index-btn-left ul li {
  position: relative;
  float: left;
  margin: 0 40px 0 0;
  line-height: 1em;
  text-align: center;
}
/*menu children*/
.index-btn-left .sub-menu {
  position: absolute;
  width: 290px;
  background-color: #fff;
  top: 25px;
  left: 260px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
  z-index: 999;
}

.index-btn-left .sub-menu a {
  padding: 15px 15px;
  display: block;
  background: url(../img/icon-arw-blue.png) no-repeat;
  background-position: right 10px center;
  color: #006699;
  text-decoration: none;
  width: 260px;
  text-align: left;
}

.index-btn-left .sub-menu .navi-menu-title {
  padding: 10px 15px;
  display: block;
  border-top: 1px solid #ccc;
  width: 260px;
}

/*menu hover*/
.index-btn-left li:hover ul {
  display: block;
}

.index-btn-left li ul {
  display: none;
}

.index-btn-left .sub-menu li a:hover {
  background: url(../img/icon-arw-white.png) no-repeat #4eade1;
  background-position: right 10px center;
}

/* heading
--------------------*/
#contents .contents-inner .contents-inner-entry h1 {
  margin-bottom: 25px;
  padding: 50px 0 2px 0;
  background: url(../img/line-h1.png) repeat-x left bottom;
  text-align: center;
  color: #f07894;
  font-size: 24px;
  font-weight: bold;
}

.webkarte-h1 span {
  padding: 36px 0 0 70px;
  background: url(../img/index-h1-001.png) no-repeat left bottom;
}

.support-h1 span {
  padding: 36px 0 0 70px;
  background: url(../img/index-h1-002.png) no-repeat left bottom;
}

.help-h1 span {
  padding: 36px 0 0 70px;
  background: url(../img/index-h1-003.png) no-repeat left bottom;
}

/* web karte
--------------------*/
.webkarte-result {
  position: relative;
  margin-bottom: 30px;
  background: url(../img/index-bg-result.png) no-repeat left bottom;
  height: 290px;
}

.webkarte-result img {
  position: absolute;
  top: 125px;
  right: 0;
}

/* btn box
--------------------*/
.index-btn-left {
  float: left;
  margin-bottom: 15px;
  width: 450px;
}

.index-btn-right {
  float: right;
  margin-bottom: 15px;
}

.index-btn-left ul li,
.index-btn-right ul li {
  margin-bottom: 5px;
}
