@charset "UTF-8";
/* ****************************************************************************
CSS Information

Site URL:	
File name:	master.css
Summary:	
Created:	2015/6/12
Order of description

******************************************************************************* */

/*-- ------------------------------------------------------
	!Reset
--------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  font-weight: normal;
}
address,
em {
  font-style: normal;
}
img {
  border: none;
  vertical-align: bottom;
}
table,
thead,
tbody,
tfoot,
tr,
th,
td,
caption,
col,
colgroup {
  text-align: inherit;
  line-height: inherit;
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
tfoot {
  display: table-footer-group;
}
tr {
  display: table-row;
}
th,
td {
  display: table-cell;
}
caption {
  display: table-caption;
}
col {
  display: table-column;
}
colgroup {
  display: table-column-group;
}
input,
select,
textarea,
button {
  font-size: inherit;
  line-height: inherit;
}
button {
  cursor: pointer;
}

/*-- ------------------------------------------------------
	!Common
--------------------------------------------------------*/

/* Body
--------------------*/
body {
  margin: 0;
  padding: 0;
  color: #3a3a3a;
  font-size: 16px;
  line-height: 1.5;
  font-family: Verdana, "メイリオ", Meiryo, "游ゴシック", YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
  -webkit-text-size-adjust: none;
  background: url(../img/bg.png) repeat-x center top #e2f4ff;
}

/* link
--------------------*/
a,
a:link,
a:active {
  color: #006699;
  text-decoration: underline;
}

a:visited {
  color: #006699;
  text-decoration: none;
}
a:hover {
  color: #4eade1;
  text-decoration: none;
}

/* clearfix
--------------------*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
} /*IE7用*/

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */

/* header
--------------------*/
#header {
  margin: 15px auto 20px auto;
  padding: 0;
  font-size: 14px;
  width: 960px;
}

#header .hdr-logo {
  float: left;
  margin: 12px 0 0 0;
}

#header .hdr-right {
  float: right;
}

#header .hdr-right .hdr-font-size ul {
  float: right;
}

#header .hdr-right .hdr-font-size ul li {
  float: left;
  margin: 0 8px 22px 0;
}

#header .hdr-right .hdr-user-area a {
  color: #006699;
  text-decoration: none;
}

#header .hdr-right .hdr-user-area a:hover {
  color: #666;
  text-decoration: none;
}

#header .hdr-right .hdr-user-area ul li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0 10px 0 25px;
  border-right: 1px solid #ccc;
}

#header .hdr-right .hdr-user-area ul li:last-child {
  border-right: none;
}

#header .hdr-right .hdr-user-area li.icon-user {
  padding: 0 10px 0 30px;
  background: url(../img/ico-client.png) no-repeat left bottom;
}

#header .hdr-right .hdr-user-area li.icon-help {
  background: url(../img/ico-help.png) no-repeat left bottom;
}

#header .hdr-right .hdr-user-area li.icon-faq {
  background: url(../img/ico-faq.png) no-repeat left bottom;
}

#header .hdr-right .hdr-user-area li.icon-pass {
  background: url(../img/ico-pass.png) no-repeat left bottom;
}

#header .hdr-right .hdr-user-area li.icon-logout {
  background: url(../img/ico-logout.png) no-repeat left bottom;
}

/* navigation
--------------------*/
#navigation {
  margin-bottom: 25px;
  background: #4eade1;
}

#navigation .navi-inner {
  margin: 0 auto;
  padding: 0;
  width: 960px;
  text-align: center;
}

/*menu parent*/
#navigation .navi-inner .navi-content {
  margin-left: 0px;
}

#navigation .navi-inner ul li {
  position: relative;
  float: left;
  margin: 0 40px 0 0;
  line-height: 1em;
  text-align: center;
}

/*menu children*/
#navigation .navi-inner .sub-menu {
  position: absolute;
  width: 290px;
  background-color: #fff;
  top: 45px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
  z-index: 999;
}

#navigation .navi-inner .sub-menu .sub-menu2 {
  position: absolute;
  width: 290px;
  background-color: #e9fefe;
  top: 0px;
  left: 260px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
  z-index: 999;
}

#navigation .navi-inner .sub-menu .sub-menu2 .sub-menu3 {
  position: absolute;
  width: 290px;
  background-color: #e8f4ff;
  top: 0px;
  left: 290px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
  z-index: 999;
}

#navigation .navi-inner .sub-menu .navi-menu-title {
  padding: 10px 15px;
  display: block;
  border-top: 1px solid #ccc;
  width: 260px;
}

#navigation .navi-inner .sub-menu .navi-menu-item {
  display: block;
  border-top: 1px solid #ccc;
  width: 290px;
}

#navigation .navi-inner .sub-menu a {
  padding: 15px 15px;
  display: block;
  background: url(../img/icon-arw-blue.png) no-repeat;
  background-position: right 10px center;
  color: #006699;
  text-decoration: none;
  width: 260px;
  text-align: left;
}

#navigation .navi-inner .sub-menu2 a {
  padding: 10px 15px;
  display: block;
  background: url(../img/icon-arw-blue.png) no-repeat;
  background-position: right 10px center;
  color: #006699;
  text-decoration: none;
  width: 260px;
  text-align: left;
}

#navigation .navi-inner .sub-menu a .sub-menu2 a .sub-menu3 a {
  padding: 15px 15px;
  display: block;
  background: url(../img/icon-arw-blue.png) no-repeat;
  background-position: right 10px center;
  color: #006699;
  text-decoration: none;
  width: 260px;
  text-align: left;
}

#navigation .navi-inner .sub-menu a:hover {
  color: #fff;
}

/*menu hover*/
#navigation .navi-inner .menu-item-has-children:hover ul {
  display: block;
}

#navigation .navi-inner .menu-item-has-children:hover .sub-menu li ul {
  display: none;
}

#navigation .navi-inner .menu-item-has-children:hover .sub-menu li:hover ul {
  display: block;
}

#navigation
  .navi-inner
  .menu-item-has-children:hover
  .sub-menu
  li
  .sub-menu2
  li
  ul {
  display: none;
}

#navigation
  .navi-inner
  .menu-item-has-children:hover
  .sub-menu
  li
  .sub-menu2
  li:hover
  ul {
  display: block;
}
#navigation .navi-inner li.menu-item-has-children li a:hover {
  background: url(../img/icon-arw-white.png) no-repeat #4eade1;
  background-position: right 10px center;
}

/* contents
--------------------*/
#contents {
  margin: 0 auto 40px auto;
  padding: 0;
  width: 960px;
}

#contents .contents-inner {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
}

#contents .contents-inner .contents-inner-entry {
  margin: 0 15px;
}

#contents .contents-inner .contents-inner-entry h1 {
  margin-bottom: 5px;
  padding: 10px 0 7px 0;
  background: url(../img/line-h1.png) repeat-x left bottom;
  text-align: center;
  color: #f07894;
  font-size: 24px;
  font-weight: bold;
}

#contents .contents-inner .contents-inner-entry h2 {
  margin-bottom: 25px;
  padding: 0;
  color: #f07894;
}
/*---------------------- topmenu pulldown-----------------------*/
#contents
  .contents-inner
  .contents-inner-entry
  .index-inner
  .index-btn-left
  .sub-menu2 {
  padding: 0px 0px;
  display: none;
  /* background: url(../img/icon-arw-blue.png) no-repeat;*/
  background-position: right 10px center;
  color: #006699;
  text-decoration: none;
  width: 380px;
  line-height: 2em;
  text-align: left;
}
#contents
  .contents-inner
  .contents-inner-entry
  .index-inner
  .index-btn-left
  .sub-menu2
  a {
  position: realtive;
  width: 380px;
  background-color: #e8f4ff;
  top: 0px;
  left: 380px;
  display: block;
  /* box-shadow: rgba(0,0,0,0.2) 3px 3px 3px;*/
  line-height: 1.5em;
  z-index: 999;
}

#contents
  .contents-inner
  .contents-inner-entry
  .index-inner
  .index-btn-left
  .sub-menu2
  li {
  padding-left: 20px;
  text-align: left;
}
#contents
  .contents-inner
  .contents-inner-entry
  .index-inner
  .index-btn-left
  .sub-menu2
  .navi-menu-title {
  padding: 10px 0px;
  color: #3a3a3a;
  display: block;
  border-top: 1px solid #ccc;
  width: 380px;
}

/*menu hover*/
#contents
  .contents-inner
  .contents-inner-entry
  .index-inner
  .index-btn-left
  li:hover
  ul {
  display: block;
}

/* footer
--------------------*/
#footer {
  margin: 0 auto;
  padding: 0 0 50px 0;
  width: 960px;
  text-align: center;
}

#footer .ftr-newwindow {
  margin-bottom: 35px;
  font-size: 14px;
}

#footer .ftr-newwindow li {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 0 10px 0 25px;
  border-right: 1px solid #ccc;
  background: url(../img/ico-newwindow.png) no-repeat left center;
}

#footer .ftr-newwindow li a {
  color: #3a3a3a;
  text-decoration: none;
}

#footer .ftr-newwindow li a:hover {
  color: #666;
  text-decoration: none;
}

#footer .ftr-newwindow li:last-child {
  border: none;
}

#footer .copyright {
  padding: 15px 0 0 0;
  font-size: 12px;
}

/* pagetop
--------------------*/
.pagetop {
  position: fixed;
  bottom: 110px;
  right: 110px;
}

/*-- ------------------------------------------------------
	!module
--------------------------------------------------------*/
.nowrap {
  white-space: nowrap !important;
}

/* inline Align parts
--------------------*/
.ta-left {
  text-align: left !important;
}
.ta-center {
  text-align: center !important;
}
.ta-right {
  text-align: right !important;
}

/* font parts
--------------------*/
.fs14 {
  font-size: 14px !important;
}

/* margin
--------------------*/
.mr02 {
  margin-right: 2px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}

/* line-height
--------------------*/
.lh60 {
  line-height: 60px !important;
}

.ui-tooltip-content {
  width: 16em;
  background-color: white;
  padding: 5px;
}

.placeholder {
  top: 14px;
  left: 5px;
  width: 400px;
  font-size: 140%;
  vertical-align: bottom;
  line-height: 100%;
  text-align: left;
  color: rgb(153, 153, 153);
  overflow: hidden;
  position: absolute;
  z-index: 99;
  display: inline-block;
}
