html {
  font-size: 100%;
}
body {
  font-size: 100%;
}
table {
  font-size: 100%;
}
p {
  font-size: 100%;
}
li {
  font-size: 100%;
}
dt {
  font-size: 100%;
}
dd {
  font-size: 100%;
}
